#info-bar{   
    /* max-width: 1000px; */
    margin-left: auto;
    margin-right: auto;   
    display: flex;
    background-color: grey;
    height: 220px;
    justify-content: center;
    align-items: center;
       
    
}

#photo-frame{
    

    background-color: white;
    height: 200px;
    width: 200px;
    border-radius: 200px;

    
    

    

}

#bio-photo{
    height: 200px;
    width: 200px;
    border-radius: 200px;
}

i{
    font-size: 25px;
    position: absolute;
    right: 25px;
    top: 25px;

    
}


